.componentMenu{
position: fixed;
z-index: 1001;
left: 60vw;
width: 40vw;
background-color: var(--color-white);
}

.optionsList{
display: flex;
flex-wrap: wrap;
padding: 0;
margin-left: 25px;
gap: 30px;
}

.optionListItem{
  list-style: none;
  margin-left: 0;
  padding: 2px 9px 2px 9px;
  border-radius: 15px;
  color: var(--gray-text);
  border: 1px solid var(--gray-color);
  cursor: pointer;
}
.optionListItem:hover{
  background-color:rgba(202, 202, 202, 0.301);
}

@media (max-width:992px) {
  .componentMenu{
    display: none;
  }
}