.sectionContainerAnimatedMenu{
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  z-index: 999;
}
.activeZIndex{
  z-index: 1001;
}

.bxs-coffee-bean{
  font-size: 40px;
  position: absolute;
  width: auto;
  text-align: center;
  bottom: 10px;
  z-index: 1003;
  color: var(--gray-text);
  cursor: pointer;
}

.activeAnimation{
  transform: translateY(-90vh);
  transition: 1.5s ease-in-out;
}
.noActiveAnimation{
  transform: translateY(-3vh);
  transition: 1.5s ease-in-out;
}

.animatedMenuContainer{
  position: absolute;
  z-index: 1002;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: var(--color-white);
}
.active{
  top: 0vh;
  transition: 1.5s ease-in-out;
}
.noActive{
  top: 100vh;
  transition: 1.5s ease-in-out;
} 
.listContainer{
display: flex;
position: absolute;
top: 95px;
flex-direction: column;
align-items: center;
justify-content: center;
padding: 0;
gap: 10px;
width:auto;
}

.animatedMenuItem{
  text-align: center;
  list-style: none;
  font-size: 20px;
  color: var(--gray-text);
  cursor: pointer;
}
.animatedMenuItem:hover{
  transform: scale(1.1);
  transition: .3s ease-in-out;
}
.closeButton{
  position: absolute;
  right:10px;
  top: 10px;
}
.bx-x-circle{
  font-size: 25px;
  color: var(--gray-text);
  cursor: pointer;
}
.socialMedia{
  position: absolute;
  top: 330px;
  width: auto;
  text-align: center;
}
.bxl-instagram{
  font-size: 25px;
  cursor: pointer;
}
.bxl-instagram:hover{
  transform: scale(1.1);
  transition: .3s ease-in-out;
}
.navLink{
  text-decoration: none;
}

@media (min-width:992px) {
  .sectionContainerAnimatedMenu{
    width: 15vw;
    transform: translateX(2.45vw);
  }
  .closeButton{
    display: none;
  }
  .noActiveAnimation{
    transform: translateY(-50vh);
    transition: 1.5s ease-in-out;
  }
}